@import url(./components/header.css);
@import url(./components/navbar.css);
@import url(./components/cardbox.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.5rem;
}

main {
  overflow-y: auto;
  position: absolute;
  top: 3rem;
  bottom: 4rem;
  width: 100vw;
  element-align: center;
}

:root {
  --card-text: black;
  --card-background-color: rgb(180, 177, 177);
  --card-tag-text-color: rgb(245, 241, 241);
  --card-tag-background-color: rgb(34, 33, 33);
}
/* a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: black;
} */
