.card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--card-background-color);
  color: var(--card-text);
  border-color: black;
  border-style: solid;
  border-radius: 5%;
  padding: 10px;
  text-align: center;
  margin: 2.2rem auto;
  box-shadow: 2px 2px;
  min-height: 250px;
  max-width: 450px;
}

/*.card__bookmark {
  height: 3.6rem;
  position: absolute;
  top: -1.2rem;
  right: 3%;
}*/
.card__bookmark {
  border: none;
  padding: 0.4rem;
  border-radius: 50%;
  background: var(--secondary);
  color: var(--white);
  position: absolute;
  right: 1.1rem;
  top: -0.5rem;
}

.card__bookmark:hover {
  cursor: pointer;
}

.card__bookmark--active {
  color: var(--black);
}

.card__bookmark__icon {
  fill: currentcolor;
}

.card__button {
  margin: 8px;
  padding: 1%;
  margin: 2%;
  border-radius: 5%;
}

.card__button:hover {
  cursor: pointer;
}

.card__answer {
  margin: 0 2rem;
  font-style: italic;
  display: none;
}

.card__answer--active {
  display: block;
}

.card__tagbox {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
}

.card__tag {
  color: var(--riddlerText);
  background-color: var(--secondary);
  padding: 6px;
  margin: 5px;
  border-radius: 7%;
  font-size: 0.9rem;
}
