header {
  color: var(--riddlerText);
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  padding: 0.7rem;
  border: 1px solid black;
}
